<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496763375832-unl1utspsrm5luud154588t1pbl4j2i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496763375832-unl1utspsrm5luud154588t1pbl4j2i1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496763375832-0n4dl6o5uqbstg0mop7mc6mfbsc4moj0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ZwVit5YJ7uFUYDDQv7bl5RphwPYgp2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>496763375832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dateup.Impressions</string>
	<key>PROJECT_ID</key>
	<string>impression-42b34</string>
	<key>STORAGE_BUCKET</key>
	<string>impression-42b34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:496763375832:ios:e90ffd31803d773bac87ad</string>
</dict>
</plist>
